@model course_app.Models.student
@{
    ViewBag.Title = "addImage";
}

<h2>addImage</h2>

<form class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.image, new { @class = "control-label" })
        <div class="col-md-10">
            <input type="file" id="image1" name="image1" />
        </div>
    </div>
    <div class="form-group">
        
        <div class="col-md-10">
            <button type="submit" value="submit" class="btn btn-success" />
        </div>
    </div>
</form>
