
@{
    ViewBag.Title = "grades";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



</head>
<body>

    <hr class="">
    <div class="container target">
        <div class="row">
            <div class="col-sm-10">
                <h1 class="">@Html.ActionLink("Cemile Karabulut", "student", "Course", null, new { @style = "text-decoration:none" })</h1>

                @Html.ActionLink("Add Course", "addCourse", "Course", null, new { @class = "btn btn-primary btn-success" })
                @Html.ActionLink("Grades", "grades", "Course", null, new { @class = "btn btn-primary btn-info" })
                @Html.ActionLink("Logout", "Index", "Course", null, new { @class = "btn btn-primary btn-danger" })
                <br>
            </div>
            <div class="col-sm-2">
                <a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.rlsandbox.com/img/profile.jpg"></a>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3">
                <!--left col-->
                <ul class="list-group">
                    <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">ID  </strong></span> 852636541</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Name</strong></span> Cemile</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Surname</strong></span> Karabulut</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Age</strong></span> 18</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Mail </strong></span> cemile@gmail.com </li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Gender </strong></span> Female</li>
                </ul>


            </div>
            <!--/col-3-->
            <div class="col-sm-9" style="" contenteditable="false">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Letter Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Fizik</td>
                            <td>85</td>
                            <td>BA</td>
                        </tr>
                        <tr>
                            <td>Matematik</td>
                            <td>75</td>
                            <td>CC</td>
                        </tr>
                        <tr>
                            <td>Tarih</td>
                            <td>68</td>
                            <td>DC</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr />
</body>
</html>
