@model course_app.Models.login
@{
    ViewBag.Title = "Login";
}

<h2>Course</h2>

<head>
    <meta name="viewport" content="width=device-width" />
    <title style="font-size:large">LOGIN</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Login", "Course", FormMethod.Post, new { id = "empform" }))
                {


                    <div class="form-group">
                        @Html.LabelFor(model => model.email, "email")
                        @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.password, "password")
                        @Html.TextBoxFor(model => model.password, new { @class = "form-control" })
                    </div>


                    <button type="submit">log in</button>
                }
            </div>
        </div>
    </div>

